/* Initially Hidden */
button.shortcut-delete,
#editingShortcut {
  display: none;
}

div.row {
  margin-bottom: 0;
}

div.selectedShortcut {
  font-size: 1.7rem;
  font-weight: bold;
}

.flex-container {
  display: flex;
}

.selectedShortcut {
  height: 40px;
  border: 2px;
  border-style: solid;
  border-color: black;
}
.customCardPanel {
  background-color: rgb(255, 255, 255);
  font-size: 16px;
  padding: 5px 15px;
  margin: 0.5rem 0;
  width: 100%;
}

div.row.epbackground {
  background: url("/Media/Background_HexagonFadeBlue.png") no-repeat;
  background-size: cover;
  margin-top: 0;
  padding: 0;
}

img.LogoSS {
  margin: 0.25em 1rem 0.05rem 1rem;
}

a.modeMargin {
  margin: 1.5rem 10px;
  width: 100px;
}

div.shortcutBtnMargin {
  margin: 10px 15px;
}

span.addBtnMargin {
  color: rgb(200, 200, 200);
  font-size: 0.75em;
  padding: 5px;
  text-align: left;
}

textarea.primaryFocus {
  background-color: white;
  font-size: 1.5em;
  height: 300px;
  resize: none;
  width: 100%;
}

div.h-100 {
  height: 100vh;
  margin-bottom: 0;
}

a#homeBtn {
  width: 200px;
}

div#masterContainer {
  margin: 0;
  max-width: 100%;
  padding: 0;
}

div#addNewShortcut {
  display: none;
}